@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 1.2;
    color: #fff;
    background-color: #000;
}

a {
    text-decoration: none;
}

.wrapper {    
    background-color: #000;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover; 
}

.inner {
    max-width: 1520px;
    margin: 0 auto;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 79px;           
}

.logo {
    margin-bottom: 16px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;    
}

.logo img{
    width: 100%;
    max-width: 220px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;    
}

.hero {
    display: flex;
    justify-content:center;
    flex-wrap: no-wrap;    
    margin-bottom: 150px; 
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;         
}

.hero__offer {
    text-align: center;
}

.hero__title {    
    font-weight: 700;
    font-size: 132px;    
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;     
}

.hero__subtitle {
    text-align: center;
    margin-bottom: 27px;    
    font-weight: 700;
    font-size: 143px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;     
}


.hero__button {
    display: block;
    max-width: 480px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 49px;
    color: #fff;     
    background: #ff005c;
    border-radius: 10px;    
    padding: 11px 10px 12px; 
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;    
}

.hero__button:hover {       
    background: #c40e50;    
}

.steps {
    text-align: center;
}

.steps img {
    width: 100%;
    max-width: 460px;    
    margin-bottom: 10px;
}

.disclaimer {
    text-align: center;    
    font-weight: 400;
    font-size: 11px;    
    color: #FFFFFF;
    background-color: #252525;
    padding: 15px;
}

.disclaimer__title {
    margin-bottom: 8px;
}

@media (max-width: 1100px) {
   
    .logo {       
        margin-bottom: 23px;    
    }
    
    .logo img{        
        max-width: 120px;    
    }

    .hero {          
        margin-bottom: 180px;      
    }

    .hero__title {        
        font-size: 75px;
        
    }
    
    .hero__subtitle { 
        font-size: 80px;
        margin-bottom: 50px;         
    }
   
}

@media (max-width: 801px) {

    .hero {          
        margin-bottom: 120px;      
    }

}

@media (max-width: 640px) {

    .hero {          
        margin-bottom: 65px;      
    }

    .hero__title {        
        font-size: 75px;
        
    }
    
    .hero__subtitle { 
        font-size: 41px;
                 
    }

    .hero__button {
        font-size: 36px;
    }
    
}

